/* ====  Variables & Shared ==== */
:root {
    --color-main: #532700 ;
    --color-extra: #704711;
    --color-bg: #27160f;
}
.is_cover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height: 20px;
}
.is_cover > img {
    opacity: 0;
}
.page_loading:before {
    content: "";
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1000;
    background-color: rgba(0,0,0,0.2);
    background-image: url(/Images/loading.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px auto;
}
.madeby {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.madeby > * {
    margin-left: 5px;
}
#hotline {
    position: fixed;
    left: 20px;
    bottom: 10px;
    z-index: 10;
    border: 8px solid #fff;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    transition: all .5s;
}
#hotline .icon {
    background-color: #f14668;
    border-radius: 50%;
    font-size: 20px;
    width: 32px;
    height: 32px;
    color: #fff;
}
#hotline .text {
    color: #333;
    padding: 0px 5px;
    font-weight: 600;
    font-size: 16px;
}
#hotline:hover {
    background-color: #f14668;
    border-color: #f14668;
}
#hotline:hover .text {
    color: #fff;
}
#gotop {
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 10;
    border: 8px solid #fff;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    transition: all .5s;
}
#gotop .icon {
    background-color: var(--color-main);
    border-radius: 50%;
    font-size: 20px;
    width: 32px;
    height: 32px;
    color: #fff;
}
#gotop:hover {
    background-color: var(--color-main);
    border-color: var(--color-main);
}

.test {
    background-color: gray;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
}
a {
    color: inherit;
}
a:hover {
    color: var(--color-main);
}
.color_main {
    color: var(--color-main);
}
.color_extra {
    color: var(--color-extra);
}
.button.is_main {
    color: #fff;
    border-color: var(--color-main);
    background-color: var(--color-main);
    transition: all .25s;
}
.button.is_main:hover {
    color: #fff;
    border-color: var(--color-extra);
    background-color: var(--color-extra);
}
.button.is_extra {
    color: #fff;
    border-color: var(--color-extra);
    background-color: var(--color-extra);
    transition: all .25s;
}
.button.is_extra:hover {
    color: #fff;
    border-color: var(--color-main);
    background-color: var(--color-main);
}
.feather {
    font-size: inherit;
}
.font_14 {
    font-size: 14px;
}
.font_bold {
    font-weight: 600;
}
.one_line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.js_gallery {
    position: relative;
}
.js_gallery::before {
    content: "\e8f9";
    font-family: 'feather' !important;
    display: flex;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.3);
    color: #fff;
    font-size: 0rem;
    opacity: 0;
    transition: all 0.5s;
}
.js_gallery:hover::before {
    opacity: 1;
    font-size: 2rem;
}
#gallery__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 30000;
    padding: 20px;
}
.gallery__popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.gallery__index {
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(0,0,0,0.3);
    color: #fff;
    display: flex;
    padding: 0px 5px;
    font-size: 14px;
}
.gallery__close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}
.gallery__close:hover {
    background: rgba(0,0,0,0.8);
}
.gallery__popup .gallery__img {
    width: auto;
    height: auto;
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 40px);
}
.gallery__prev, .gallery__next {
    position: absolute;
    width: 32px;
    height: 32px;
    padding: 4px 0px;
    left: 0px;
    top: calc(50% - 18px);
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery__next {
    content: "";
    left: auto;
    right: 0px;
}
.gallery__prev:after, .gallery__next:after {
    border: 4px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 16px;
    width: 16px;
    transform: rotate(45deg);
    transform-origin: center;
    border-color: #fff;
}
.gallery__next:after {
    transform: rotate(-135deg);
}
.gallery__prev:hover, .gallery__next:hover {
    background-color: rgba(0,0,0,0.7);
}
/* ====  CSS FIX  ==== */
#notify {
    font-size: 13px;
    position: fixed;
    z-index: 90000;
    top: 20px;
    right: 20px;
    max-width: calc(100% - 40px);
    width: 360px;
}
#notify .notification {
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
}
.notification.is-success.is-light {
    background-color: #effaf3;
    color: #257942;
}
.notification.is-danger.is-light {
    background-color: #feecf0;
    color: #cc0f35;
}
.pagination-link.is-current {
    background-color: var(--color-main);
    border-color: var(--color-main);
}
.select select {
    width: 100%;
}
.title.has_icon {
    display: flex;
    align-items: center;
}
.title.has_icon .feather:first-child {
    margin-right: 1rem;
}
.box.no_padding {
    padding: 0px;
    overflow: hidden;
}
.columns.is-variable {
    margin: calc(-1 * var(--columnGap));
}
.columns.is-variable > .column {
    padding: var(--columnGap);
}
/* ====  CSS NivoSlider  ==== */
.slider-wrapper {
    position: relative;
}
.nivoSlider {
    position: relative;
    background: #fff url(/Images/loading.svg) center no-repeat;
    background-size: auto 256px;
}
.nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.nivoSlider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: none;
}
.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important;
}
.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
    background: white;
    filter: alpha(opacity=0);
    opacity: 0;
}
.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden;
}
.nivo-box img {
    display: block;
}
.nivoSlider.full_screen {
    height: 100vh;
}
.nivoSlider.full_screen .nivo-main-image,
.nivoSlider.full_screen .nivo-imageLink img {
    width: 100% !important;
    height: auto !important;
    min-height: 100% !important;
}
.nivo-slice {
    display: block;
    position: absolute;
    z-index: 5;
    height: 100%;
    top: 0;
}
.nivo-controlNav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    opacity: 1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 8;
}
.nivoSlider:hover .nivo-controlNav {
    opacity: 1;
}
.nivo-controlNav a {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    margin: 0 5px;
    font-size: 0px;
    border-radius: 5px;
}
.nivo-controlNav a.active {
    background: #fff;
}
.nivo-controlNav a:hover {
    box-shadow: 0px 0px 5px 0px #000;
}
.nivo-directionNav {
    position: absolute;
    left: 10px;
    right: 10px;
    top: calc(50% - 40px);
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
.nivoSlider.hidden_nav .nivo-directionNav {
    display: none;
}
.nivo-directionNav a {
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'feather' !important;
    font-size: 0px;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}
.nivo-directionNav a:hover {
    background: rgba(0,0,0,0.3);
}
.nivo-directionNav .nivo-prevNav::before {
    content: "\e843";
    font-size: 20px;
}
.nivo-directionNav .nivo-nextNav::before {
    content: "\e844";
    font-size: 20px;
}
.nivo-html-caption {
    display: none;
}
.nivo-caption {
    position: absolute;
    z-index: 7;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    background: rgba(2, 5, 11, 0.5);
}
.nivo-caption .container {
    
}
.nivo_title, .nivo_recap {
    
}
.nivo_title {
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
}
.nivo_recap {
    font-size: 20px;
}
.nivo_title a, .nivo_recap a {
    color: inherit;
}
.nivo_title a:hover, .nivo_recap a:hover {
    text-decoration: none;
}
.nivo_link {
    display: block;
}
.nivo_link a {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 25px 8px;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
    background: none;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}
.nivo_link a:hover {
    background: #fff;
    color: var(--color-main);
}

/* ====  CSS jcarousel  ==== */
.jcarousel-wrapper {
    position: relative;
}
.jcarousel-wrapper .jcarousel {
    overflow: hidden;
    position: relative;
}
.jcarousel-wrapper .jcarousel ul {
    position: relative;
}
.jcarousel-wrapper .jcarousel:not(.is_vertical) ul {
    width: 10000em;
    display: flex;
}
.jcarousel-wrapper .jcarousel:not(.is_vertical) ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ====  CSS Default  ==== */
body {
    font-family: 'Roboto', 'Open Sans', Arial, Helvetica, sans-serif;
    color: #404040;
}
.container {
    max-width: 100%;
    width: 1140px;
    flex-grow: 0;
}
#main {
    min-height: calc(100vh - 297px);
}
#header {

}
.header_top {
    background: var(--color-bg);
    padding: 15px;
    position: relative;
    z-index: 40;
}
.header_top .navbar {
    background: none;
}
.header_top .navbar-start {
    background: #444;
}
.header_top .navbar-start .navbar-item, .header_top .navbar-start .navbar-link {
    color: #888888;
    font-weight: 500;
    font-size: 15px;
}
.header_top .navbar-start .navbar-item:hover,
.header_top .navbar-start .navbar-link:hover,
.header_top .navbar-start .navbar-item:hover .navbar-link {
    color: #fab702;
    background: var(--color-main);
}
.header_top .navbar-start .navbar-dropdown {
    background: #444;
    border: 0px;
}
.header_top .navbar-dropdown .navbar-item {
    font-size: 14px;
}
.header_top .navbar-end .navbar-item {
    padding: 0px;
}
.header_bottom {
    border-bottom: 5px solid #f08602;
    padding: 15px 0px;
}
.header_bottom .navbar-item, .header_bottom .navbar-link {
    font-weight: 500;
    font-size: 15px;
    color: #4c4c4c;
}
.header_bottom .navbar-item:hover,
.header_bottom .navbar-link:hover,
.header_bottom .navbar-item:hover .navbar-link {
    color: #fab702;
}
.header_bottom .navbar-dropdown {
    border: 0px;
    padding-top: 20px;
}
.header_bottom .navbar-dropdown .navbar-item {
    font-size: 14px;
    font-weight: normal;;
}
.header_bottom .navbar-dropdown a.navbar-item:hover {
    color: #fff !important;
    background: var(--color-main) !important;
}
.navbar-link:not(.is-arrowless)::after {
    border-color: #888;
}
.footer_top {
    background: #A3897A;
    color: #fff;
    padding: 50px 0px;
}
.footer_top .title {
    color: inherit;
    font-weight: 500;
}
.footer_logo {
    display: block;
    margin-bottom: 20px;
}
.footer_bottom {
    background: #222;
    font-size: 14px;
    color: #999;
}
.title_center {
    font-weight: 800;
    font-size: 28px;
    color: #441e00;
    text-align: center;
    padding: 20px 0px;
}
.title_center a {
    color: inherit;
}
.section_home_icons {
    padding: 25px 0px 50px;
}
.section_home_gallery {
    padding: 25px 0px;
    background: var(--color-bg);
}
.gallery_item .item_info {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    color: #fff;
    background: rgba(0,0,0,.2);
    padding: 20px 10px 0px;
    transition: all .5s;
}
.gallery_item .item_name {
    text-shadow: 1px 1px 1px #000;
    font-weight: 500;
    margin-bottom: 5px;
}
.gallery_item .item_desc {
    font-size: 14px;
    font-style: italic;
}
.gallery_item:hover .item_info {
    background: rgba(0,0,0,.5);
}
.section_home_content {
    padding: 25px 0px;
}
.content_item {
    background: #eae1d4;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.content_item.is_title {
    margin-bottom: 8px;
}
.content_item .item_index {
    width: 40px;
    color: #F18800;
    font-weight: bold;
    font-size: 40px;
}
.content_item .item_name {
    width: calc(100% - 40px);
}
.content_item .item_image {
    width: 100%;
    margin-top: 15px;
}
.content_item .item_desc {
    width: 100%;
    margin-top: 15px;
}
.section_breadcrumb {
    border-bottom: 1px solid #e9e9e9;
    padding: 14px 0px;
}
.breadcrumb a {
    font-weight: 600;
    color: #777;
}
.breadcrumb li.is-active a {
    font-weight: normal;
    color: #858585;
}
#cover {
    position: relative;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    min-height: 300px;
}
#cover::before {
    content: "";
    background: rgba(0,0,0,.2);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
}
#cover .container {
    z-index: 2;
    position: relative;
}
#cover * {
    color: #fff;
}
.section_about, .section_blog, .section_gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}
.blogs_min {
    font-size: 15px;
}
.blogs_min li {
    position: relative;
    padding-left: 24px;
    padding-bottom: 10px;
}
.blogs_min i {
    color: gray;
    opacity: 0.6;
    position: absolute;
    left: 0px;
    top: 4px;
}
.blogs_min a {
    color: gray;
}
.blogs_min a:hover {
    color: #3273dc;
}
.blog_item .image {
    border-radius: 7px;
}
.blog_item .title {
    margin-top: 20px;
    margin-bottom: 30px;
}
.blog_item .subtitle {
    margin-bottom: 5px;
}
.section_contact {
    padding: 50px 0px;
}
#contact_map iframe {
    height: 400px;
    width: 100%;
}
#faq_list {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
#faq_list > .item .item_name {
    background: #f8f8f8;
    border-top: 1px solid #e1e1e1;
    font-size: 15px;
    font-weight: normal;
    padding: 14px 12px 14px 40px;
    cursor: pointer;
    position: relative;
}
#faq_list > .item .item_content {
    border-top: 1px solid #e1e1e1;
    font-size: 14px;
    padding: 20px;
    display: none;
}
#faq_list > .item.is_show .item_name {
    font-weight: 600;
}
#faq_list > .item.is_show .item_content {
    display: block;
}
#faq_list > .item .item_name::before {
    font-family: 'feather' !important;
    content: "\e8b1";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: normal;
}
#faq_list > .item.is_show .item_name::before {
    content: "\e897";
}

/* ====  Responsive ==== */
@media (max-width: 768px) 
{
    .wrap_mobile {
        padding-left: 20px;
        padding-right: 20px;
    } 
    #hotline {
        bottom: 10px;
        left: 10px;
    }
    #gotop {
        right: 10px;
        bottom: 10px;
    }
    #main {
        overflow: hidden;
    }
    .header_top .navbar-menu {
        display: block;
        background: none;
        padding: 0px;
    }
    .header_top .navbar-end, .header_top .navbar-link:not(.is-arrowless)::after {
        display: none;
    }
    .header_top .navbar-start {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header_top .navbar-start .navbar-item, .header_top .navbar-start .navbar-link {
        font-size: 14px;
        border-bottom: 1px solid #888888;
        margin: 0px 2px;
        text-align: center;
    }
    .header_top .navbar-start .navbar-item.has-dropdown {
        width: 100%;
        border-bottom: 0px;
    }
    .header_top .navbar-start .navbar-dropdown {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header_top .navbar-dropdown .navbar-item {
        font-size: 12px;
        padding: .5rem .75rem;
    }
    .header_bottom {
        padding: 5px 0px;
    }
    .footer_bottom, .footer_bottom .column {
        text-align: center !important;
    }
    .nivo_title {
        font-size: 16px;
        padding-bottom: 0px;
    }
    .nivo_recap {
        font-size: 14px;
    }
    .nivo-directionNav {
        display: none;
    }
}