@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600&display=swap');

.font_main {
  font-family: "Lexend", sans-serif;
}
.font_extra {
  font-family: "Saira", sans-serif;
}
:root {
  --color-main: #603721;
  --color-extra: #F2BC1B;
  --color-text: #556652;
  --color-bg: #F2F6F4;
}
body {
  font-family: "Lexend", sans-serif;
  color: #717378;
}

.container {
  max-width: 1296px !important;
  width: 100%;
}
.container.is-small {
  max-width: 1200px !important;
}

.has-text-grey {
  color: #9D9EA2 !important;
}

.has-text-dark {
  color: #242424 !important;
}

.is-size-5 {
  font-size: 20px !important;
}

.button.is-outlined.is-active {
  background-color: #F3F0EB;
  border-color: #534035;
}

.button.is-medium {
  height: 48px;
}

.tabs li.is-active a {
  color: var(--color-extra);
  border-bottom-color: var(--color-extra);
}

.icon-text {
  align-items: center;
}

.is-shadow {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.is-radius {
  border-radius: 10px;
  overflow: hidden;
}

.jcarousel-control {
  height: 0px;
  position: absolute;
  left: 20px;
  right: 20px;
  top: calc(50% - 18px);
  display: flex;
  justify-content: space-between;
}
.jcarousel-control a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #fff;
  color: #242424;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

/* Customs */

hr {
  height: 1px;
  background: #F4F4F4;
}

hr.is-dark {
  background: #46494F;
}

hr.is-grey {
 background: #C8C9CB; 
}

#header {
  height: 158px;
}

#header * {
  transition: all 0.25s;
}

.header_middle {
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.header_logo img {
  height: 60px;
  display: block;
}

.header_cart {
  position: relative;
  margin-bottom: 3rem;
}

.header_cart_count {
  position: absolute;
  top: 0px;
  right: -4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
}

.header_search {
  width: 100%;
  max-width: 360px;
  margin-left: auto;
}

.header_menu {
  font-size: 14px;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #46494F;
  border-left-width: 2px;
  border-bottom-width: 2px;
}

.navbar-link.is-active, a.navbar-item.is-active {
  color: var(--color-main);
}

#header.is_sticky .header_top,
#header.is_sticky .header_search {
  display: none;
}

#header.is_sticky .header_middle {
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 10;
}

#header.is_sticky .header_logo img {
  height: 40px;
}

#header.is_sticky .header_cart {
  margin-bottom: 0px;
}

#footer {
  background-image: linear-gradient(0deg, #311D12 0%, #3C5E52 100%);
  background-image: -webkit-linear-gradient(90deg, #311D12 0%, #3C5E52 100%);
  background-image: -moz-linear-gradient(90deg, #311D12 0%, #3C5E52 100%);
  background-image: -ms-linear-gradient(0deg, #311D12 0%, #3C5E52 100%);
}

#footer .container {
  max-width: 1200px !important;
}

.footer_top {
  background-image: url('/themes/footer-bg.png');
  background-position: center;
  background-size: cover;
  border-radius: 24px;
  padding: 40px 100px;
  margin-top: -130px;
}

.footer_top .button {
  background: #9B9591;
  border-color: #9B9591;
  font-size: 18px;
  height: 64px;
  padding-left: 40px;
  padding-right: 40px;
}

.footer_middle {
  padding-top: 30px;
}

#main {
  padding-bottom: 150px;
}

.home_banner .nivo-caption {
  display: none !important;
}

.home_banner .nivo-controlNav {
  padding-bottom: 30px;
}
.home_banner .nivo-control {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #DAD2CA;
  border: 0px;
}
.home_banner .nivo-control.active {
  background: var(--color-extra);
}

.home_category .slide_item {
  position: relative;
  display: block;
  width: 100%;
}
.home_category .slide_item h3 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0,0.2);
  color: #fff;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
}

.home_sale .sale_item {
  height: 557px;
}
.home_sale .sale_item .item_info {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  padding: 0px 40px 30%;
}
.home_sale .home_sale_cover {
  width: 420px;
}
.home_sale .home_sale_products {
  width: calc(100% - 420px);
}
.home_sale .jcarousel {
  margin-left: -16px;
  margin-right: -16px;
}
.home_sale .jcarousel li {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.product_item {
  width: 100%;
}
.product_item .item_info {
  padding: 1.5rem 1rem;
}
.product_item .item_category {
  margin-bottom: 0.25rem;
  font-size: 14px;
}
.product_item .item_name {
  margin-bottom: 0.5rem;
  font-size: 16px;
}
.product_item .item_price {
  margin-bottom: 0.5rem;
}
.product_item .item_price del {
  margin-left: 10px;
  font-weight: 300;
  color: #9B9591;
}
.product_item .item_attr {
  margin-bottom: 0.75rem;
  height: 30px;
  overflow: hidden;
}
.product_item .item_attr span {
  border: 1px solid #F4F4F4;
  border-radius: 4px;
  font-size: 12px;
  padding: 5px 6px;
  display: inline-block;
}
.product_item .item_buy span {
  font-size: 14px;
}

.home_products .field .button:first-child {
  color: #05422C;
  border-color: #05422C;
  background-color: #F2F6F4;
}

.home_service .service_item {
  border: 1px solid #CECFD566;
  border-radius: 12px;
  width: 100%;
  padding: 3rem 1.5rem;
}
.service_item .item_name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.75rem 0px;
}
.service_item .item_desc {
  font-size: 14px;
  max-height: none;
  display: block;
}

.home_feedback .home_feedback_cover {
  width: 420px;
}
.home_feedback .home_feedback_list {
  width: calc(100% - 420px);
}
.home_feedback .jcarousel {
  margin-left: -16px;
  margin-right: -16px;
}
.home_feedback .jcarousel li {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.home_feedback .jcarousel-control {
  left: 0px;
  right: 0px;
}
.home_feedback .feedback_item {
  border: 1px solid #CECFD566;
  width: 100%;
  padding: 3rem;
}
.home_feedback .feedback_item .item_desc {
  height: 12em;
  overflow: hidden;
}

.search_box .checkbox_list li {
  margin-bottom: 5px;
}

.product_price {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.product_price strong {
  color: #f14668!important;
  margin-right: 5px;
  font-size: 2rem;
}
.product_price del {
  margin-left: 1rem;
  font-size: 1rem;
}